.example {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #424242;
    max-width: 960px;
    padding: 16px;
  }
  
  .example code {
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    background-color: #009688;
    color: #fff;
    padding: 2px 6px;
    border-radius: 2px;
  }
  
  .example .background {
    height: 240px;
    // Путь к изображениям из SASS-файла всегда такой, как из папки css
    background-image: url('../images/demo.jpg');
    background-size: cover;
    background-position: center;
  }

  body {
    background-color: bisque;
  }

  input {
    height: 30px;
  }

  .search-form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .search-btn {
    background-color:chocolate;
  }

  .gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .stats {
    display: flex;
  }

  .stats-item {
    display: flex;
    flex-direction: column;
  }

  .image {
    display: flex;
    justify-content: center;
  }

  .photo-card {
    height: 200px;
    width: 350px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
  }

  .btn {
    display: flex;
    align-items: center;
  }

  button {
    margin: 0 auto;
    background-color:chocolate;
    width: 100px;
    height: 30px;
  }